.container {
    padding: 1rem;
    max-width: 64rem;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.go-back-button {
    margin-top: 1rem;
    text-decoration: underline;
    color: #2563eb;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.go-back-button:hover {
    color: #1d4ed8;
}